.hero {
    background-image: url('../../../../public/assets/img/lanascarrusel1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    background-blend-mode: luminosity;
}

button {
    font-size: 1.2rem;
}

#textoOscuro {
    color: blue;
}